button {
  margin: 0 20px 0 0;
  width: 83px;
}
button#hangupButton {
    margin: 0;
}

select#peer-roles {
  margin: 0 0 0 0;
}

.bold-when-diabled:disabled {
  color: black;
  font-weight: bold;
}

.status-button {
  float: right;
}
.status-button:disabled {
  background-color: white;
}

.text-error {
  font-weight: bold;
  font-style: italic;
  color: red;
}

.deleted {
  text-decoration: line-through;
}

.nominated {
  font-weight: bold;
}

.selected {
  background: skyblue;
}

.obsolete {
  background: lightgray;
}

textarea.text-SDP {
  width: 100%;
  height: 300px;
  resize: both;
}
textarea.text-candidates {
  width: 100%;
  height: 100px;
}
textarea.text-log {
  width: 100%;
  height: 20px;
  resize: vertical;
}

input.text-line {
  width: 100%;
}

video {
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 0 0 0;
  vertical-align: top;
}

div.box {
  margin: 1em;
}

table.peer-columns{
  width: 100%;
  border-spacing: 10px 3px;
}
table.peer-columns td{
  width: 50%;
}

table.candidate-pair-table{
  width: 100%;
  border-collapse: collapse;
}
table.candidate-pair-table td{
  border-width: 1px 0;
  border-style: solid;
  padding: 3px 0;
}
table.candidate-pair-table .left{
  text-align: left;
}
table.candidate-pair-table .center{
  text-align: center;
}
table.candidate-pair-table .right{
  text-align: right;
}

@media screen and (max-width: 400px) {
  button {
    width: 83px;
    margin: 0 11px 10px 0;
  }

  video {
    height: 90px;
    margin: 0 0 0 0;
    width: calc(50% - 7px);
  }
  video#localVideo {
    margin: 0 10px 20px 0;
  }

}
